.Person {
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    margin: 5px;
    padding: 5px;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}

button.Red {
    background-color: red;
    color: white;
}

button.Red:hover {
    background-color: lightcoral;
    color: black;
}
